<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full text-white bg-zinc-800 p-10">
      <a class="text-blue-600 text-xl" href="/">Back to home</a>
      <h1 class="text-xl mb-3 tracking-tighter mt-2">All Users</h1>
      <div class="users flex gap-4 flex-wrap">
        <% users.forEach(function(user){ %>
        <div class="user w-52 bg-zinc-700 p-3">
          <div class="w-full h-52 rounded-lg bg-zinc-800 overflow-hidden">
            <img
              class="w-full h-full object-cover"
              src="<%=user.image%>"
              alt=""
            />
          </div>
          <h3 class="tracking-tighter mt-2"><%= user.name %></h3>
          <h5 class="tracking-tighter text-zinc-400 text-md mt-2" required>
            <%= user.email %>
          </h5>
          <div class="flex flex-wrap gap-12 mt-4">
            <a class="text-green-500" href="/edit/<%= user._id %>">edit</a>
            <a class="text-red-500" href="/delete/<%= user._id %>">delete</a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
